@using TechnicianM = GreenThumb.Models.DomainModels.Technician;
@model TechnicianM;
@{
    ViewBag.Title = "Delete Technician";
    ViewBag.Title = $"{ViewBag.Action}";
}

<div>
    <h2>Confirm Deletion</h2>
    <h3>@Model.Name</h3>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="TechnicianId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-area="Technician" asp-controller="Technician" asp-action="List" class="btn btn-secondary">Cancel</a>
    </form>
</div>