@model StatusReport
@{
    ViewBag.Title = "Delete StatusReport";
    ViewBag.Title = $"{ViewBag.Action}";
}

<div>
    <h2>Confirm Deletion</h2>
    <h3>@Model.Time.ToString()</h3>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="StatusReportId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="DailyLog" asp-action="List" class="btn btn-secondary">Cancel</a>
    </form>
</div>