@{ 
    Layout = "_Layout";
    ViewData["Title"] = "About us";
}

<div class="bg-secondary">
    <h2>About</h2>
    <p>We are a small group developing a fully automated hydroponics system in the aims of creating a supplemental source of food within the home.</p>
</div>