@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <div class="mb-3">
        <h1>Project Green Thumb</h1>
        <p>Automated hydroponic systems for the home</p>
    </div>

    <div class="mb-3">
        <h1>Admin</h1>
        <table class="table table-bordered">
            <tr>
                <td><a asp-area="DailyLog"  asp-controller="DailyLog" asp-action="List" >System Logs</a></td>
            </tr>
            <tr>
                <td><a asp-area="Technician" asp-controller="Technician" asp-action="List">Manage Technicians</a></td>
            </tr>
            <tr>
                <td><a asp-area="Contact" asp-controller="Contact" asp-action="List">Manage Contacts</a></td>
            </tr>
            <tr>
                <td><a asp-area="Technician" asp-controller="Technician" asp-action="Get">Manage Tickets</a></td>
            </tr>
            <tr>
                <td>Manage Registrations</td>
            </tr>
        </table>
    </div>

    <div>
        <h1>Technicians</h1>

        <table class="table table-bordered">
            <tr>
                <td>Update Ticket</td>
            </tr>
        </table>
    </div>
</div>
