@using TicketM = GreenThumb.Models.DomainModels.Ticket;
@model TicketM;
@{
    ViewBag.Title = "Delete Ticket";
    ViewBag.Title = $"{ViewBag.Action}";
}

<div>
    <h2>Confirm Deletion</h2>
    <h3>@Model.Title</h3>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="TicketId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Ticket" asp-action="List" class="btn btn-secondary">Cancel</a>
    </form>
</div>